.wrap {
    display: grid;
    grid-template-columns: 1fr 400px;
    min-height: 100vh;
    /* overflow-x: hidden; */
}
.course-cards {
    display: flex;
    gap: 24px;
    height: 187px;
    overflow-y: auto;
}
.meetings-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.chatbox {
    width: 400px;
    background: #FFF;
    height: 100%;
    padding: 30px 40px;
}
.chatbox h3{
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #232360;
}
.chatbox-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.main-content {
    margin: 0 auto;
    width: 1168px;
    padding-top: 30px;
}
.empty-meetings {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.empty-meetings span{
    color: gray;
}
@media (max-width: 1700px) {
    .chatbox {
      display: none;
    }
    .wrap {
      grid-template-columns: 100%;
    }
  }
  
@media (max-width: 1300px) {
    .main-content {
        width: 868px;
    }
}
@media (max-width: 1100px) {
    .main-content {
        width: 100%;
        padding: 20px;
    }
}